@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;900&family=Lato:wght@400;700&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,400&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: darkcyan;
}

.calculator{
    background-color: rgb(211,211,211);
    padding: 20px;
    border-radius: 10px;
}

.screen{
    width: 224px;
    background-color: rgb(176,285,176);
    font-size: 40px;
    text-align: end;
    padding: 4px;
}

.buttons{
    width: 232px;
    display: flex;
    flex-wrap: wrap;
}

button{
    background-color: rgb(131,129,129);
    border: none;
    color: white;
    font-size: 40px;
    width: 50px;
    height: 50px;
    border-radius: 30px;
    margin: 4px;
}

button:hover{
    background-color: rgb(111,110,110);
}

button:active{
    background-color: rgb(232,232,232);
}

#equals{
    background-color: rgb(218,2,2);
}

#equals:hover{
    background-color: rgb(198,1,1);
}

#clear{
    width: 100%;
    border: none;
    background-color: rgb(252,226,27);
    font-size: 30px;
}

#clear:hover{
    background-color: rgb(252,201,17);
}