@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;900&family=Lato:wght@400;700&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,400&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}



.calculator{
    background-color: rgb(211,211,211);
    padding: 20px;
    border-radius: 10px;
}

.buttons{
    width: 230px;
}

button{
    background-color: rgb(131,129,129);
    border: none;
    color: white;
    font-size: 40px;
    width: 50px;
    height: 50px;
    border-radius: 30px;
    margin: 4px;
}

.screen{
    
}